<%-include('../layout/User/header')-%>
  
        <!-- row -->
        <div class="row tm-mt-big">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Create Event</h2>
                        </div>
                    </div>
                    <div class="row mt-4 tm-edit-product-row">
                        <div class="col-xl-7 col-lg-7 col-md-12">
                            <form action="/addEvent" method="post" id="add-form" enctype="multipart/form-data" class="tm-edit-product-form">
                                <div class="input-group mb-3">
                                    <label for="category" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Category</label>
                                    <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="catergory"  name="catergory" aria-required="true">
                                        <option selected>Select one</option>
                                        <option  value="Professional">Professional Development Event</option>
                                        <option  value="Networking">Networking Event</option>
                                        <option  value="Campus">Campus Event</option>  
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Event Name
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" placeholder="Enter Event Name" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="description" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Description</label>
                                    <textarea name="description" id="description" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" required></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Event Organizer
                                    </label>
                                    <input id="organizer" name="organizer" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" placeholder="Enter Event Organizer" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Expire
                                        Date
                                    </label>
                                    <input id="expire_date" name="eventdate" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                        data-large-mode="true" data-date-format="DD-MM-YYYY" data-link-field="any" data-link-format="DD-MM-YYYY">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="venue" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Event Venue
                                    </label>
                                    <input id="venue" name="venue" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" placeholder="Enter Venue Location" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="time" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                       Time
                                    </label>
                                    <input id="time" name="time" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" placeholder="09:00 AM" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="time" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Event Image
                                    </label>
                                    <input type="file" name="image" class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                        <button type="submit" class="btn btn-primary">Add
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <%-include('../layout/User/footer')-%>